:root {
  --primary-color: #2164a8;
  --primary-color-light: #3989d8;
  --primary-color-dark: #0e3d6c;
  --light: #ececec;
  --semi-light: #dcd7d7;
  --dark: #242424;
  --semi-dark: #383838;
}


* {
  font-family: 'Poppins', sans-serif;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
}

.cursor-pointer {
  cursor: pointer;
}

.user-main-container {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 60px auto;
  grid-template-areas:
    "header"
    "main"
}

.user-header {
  grid-area: header;
}

.user-main {
  grid-area: main;
  width: 100%;
  padding: 0 10%;
  justify-self: center;
  overflow-y: auto;
}

header {
  padding: 20px 10%;
  color: var(--text-color);
  background-color: var(--light);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-text {
  color: var(--primary-color);
  font-size: 17px;
  margin: 0;
  margin-left: 30px;
  cursor: pointer;
}

.logo-text {
  font-size: 23px;
  color: var(--primary-color);
}

.custom-dropdown-item {
  padding: 15px;
  cursor: pointer;
}

.custom-dropdown-item:hover {
  background-color: var(--light);
}

.custom-dropdown-text {
  font-size: 15px;
  margin-left: 10px;
}

.header-icons {
  opacity: 0.8;
  padding: 8px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}

.custom-dropdown {
  background-color: var(--semi-light);
  color: #ffffffab;
  z-index: 100;
  position: absolute;
  border-radius: 10px;
  padding: 10px 0px;
  overflow-y: auto;
}

.box-shadow {
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 5px !important;
  background-color: #4242427f !important;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #e3e1e14d !important;
  border-radius: 10px !important;
}

.form-container {
  padding: 3em;
  background-color: var(--light);
  border-radius: 10px;
  text-align: left;
}

.tab-icons-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 2em;
  margin-bottom: 3em;
}

.tab-content-container {
  width: 100%;
  margin-bottom: 20px;
}

.tab-line-prefix {
  background-color: var(--primary-color-light);
  height: 5px;
}

.tab-container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-color-light);
  cursor: pointer;
  width: fit-content;
}

.tab-icon-container {
  position: relative;
  padding: 5px;
  aspect-ratio: 1 / 1;
  width: 50px;
  border-radius: 100%;
  border: 4px solid var(--primary-color-light);
  display: flex;
  align-items: center;
  justify-content: center;
  color: inherit;
}

.tab-title {
  position: absolute;
  top: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-color-light);
  font-weight: 500;
}

.landing-content {
  margin-bottom: 290px !important;
}
.custom-secondary-landing {
  font-size: small;
  width: 100%;
  text-align: center;
  margin-top: 10px;
}
.custom-secondary-home {
  font-size: medium;
  width: 60%;
  text-align: center;
  margin-top: 10px;
}
.custom-logo-adjustments {
  margin: 5px;
  color: var(--primary-color);
}
.custom-welcome-font {
  font-size: 60px !important;
}
.custom-home-content {
  background-color: rgba(246, 246, 246, 1); 
  padding: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
